@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1400px;
}

.wrapper {
  padding-left: 18%;
  padding-right: 4%;
  overflow: hidden;
  font-family: "Mulish";
  background-color: #E5E5E5;
}

.head {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  position: sticky;
  top: 26px;
  margin-bottom: 60px;
  z-index: 10;
}

.head-logo {
  display: inline-block;
  background-color: #458FF6;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.text-logo {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

.head-navigation {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

}

.head-navigation>li {
  text-align: center;
  list-style: none;
  font-size: 18px;
  opacity: 0.5;
  color: #ADACAC;
}

li.active {
  color: #1F1534;
  font-size: 20px;
}

/* ! Main section */
.virtual {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 160px;
}

.virtual-text {
  width: 30%;
  padding-top: 106px;
}

.virtual-text>h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  color: #000;
}

.virtual-text>p {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  padding-bottom: 30px;
}

.virtual-consult-btn {
  background-color: #458FF6;
  color: #fff;
  border-radius: 56px;
  height: 63px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  line-height: 56px;
  margin-left: 24%;
}

/* ! Our services */

.services-head {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 56px;
  color: #000;
}

.service-text {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  padding-left: 10%;
  padding-right: 10%;
}

.service-cards {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px; */

  display: grid;
  grid-template-columns: 30% 30% 30%;
}



.service-card {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
  height: 354px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.service-card>img {
  width: 60%;
  margin-left: 15%
    /* height: 84px; */
}

.service-btn {
  margin-left: 40%;
  width: 246px;
  height: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  color: #458FF6;
  border-radius: 55px;
  border-color: #458FF6;
  border-width: 1.4px;
}

/* ! Leading healthcare providers */
.healthcare {
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leading {
  width: 45%;
  height: 350px;

  background-repeat: no-repeat;
  background-size: 80%;
}

.providers-img {
  background-image: url("../images/leading-providers.png");
}

.mobile-img {
  background-image: url("../images/mobile-app.png");
}

.leading-text {
  width: 45%;
}

.leading-text-head {
  font-weight: bold;
  color: #000;
  font-size: 36px;
  line-height: 56px;
}

.leading-text-p {
  padding-bottom: 37px;
  color: #7D7987;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.info-hr {
  width: 15%;
  border-radius: 2px;
  height: 2px;
  background-color: #000;
  position: relative;
  left: 0;

}

.providers-apps-btn {
  color: #458FF6;
  font-size: 18px;
  font-weight: bold;
  line-height: 58px;
  border-radius: 55px;
  border-width: 1.4px;
  width: 200px;
  border-color: #458FF6;
  margin-left: 20%;
}

/* ! carousel */

.slider {
  margin-top: 100px;
  margin-bottom: 100px;
}

.slider__item {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}

.slider__img {
  height: 20px;
  width: auto;
}

.slick-track {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.slick-list {
  overflow: hidden;
}

.slider .slick-arrow {
  position: absolute;
  top: 3400px;
  font-size: 0;
  width: 40px;
  height: 30px;
  border-width: 0;
}

.slider .slick-arrow.slick-prev {
  left: 30%;
  background: url('../images/slider-prev.svg') 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 16%;
  background: url('../images/slider-next.svg') 0 0 no-repeat;
}

.slider .slick-dots {
  position: absolute;
  top: 3380px;
  left: 50%;
  display: flex;
  justify-content: center;

}

.slider .slick-dots li {
  list-style: none;
  margin-right: 20%;
}

.slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 0;
  background-color: #F0F6FE;

}

.slider .slick-dots li.slick-active button {
  background-color: #5A98F2;
}

.slider__head {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.slider.img {
  width: 20%;
}

.slider__person {
  width: 20%;
}

.slider__name {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}

.slider__ocupation {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.slider__head-line {
  width: 20%;
  margin: 0 auto;
  border-width: 2px;
  border-color: #fff;
  margin-bottom: 78px;
}

.slider__item_wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 80px;
}

.slider__item_wrapper>div {
  margin-right: 5%;
  margin-left: 5%;
}

.slider__message {
  width: 50%;
  padding-left: 5%;
  justify-content: end;
  margin-right: 0;
  color: #fff;
  font-size: 19px;
  line-height: 30px;
}