header {
   margin-top: 50px;
   display: flex;
   justify-content: space-around;

   img {
      height: 35px;
   }

}

.pink-arrow {
   width: 20px;
   height: 14px;
   margin-left: 20px;
}

.header-menu {
   width: 30%;

   li {
      float: left;
      list-style-type: none;
      margin-right: 8%;
   }

   .checked {
      font-weight: 800;
      color: #212353;
   }

   a {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #4B5D68;
   }
}

.rqst-demo-btn {
   background-color: #fff;
   border-radius: 50px;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
   width: 210px;
   height: 60px;
}