@import "normalize.css/normalize";
@import "./variables.scss";
@import "./header.scss";
@import "./save-data.scss";
@import "./footer.scss";
@import "./fonts.scss";


body {
  font-family: 'Montserrat', sans-serif;
  background-color: bgColor;
}

footer {
  background-color: bgColor;
  padding-left: 15%;
  margin-bottom: 91px;
  padding-top: 100px;

  .try-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-about-wrapper {
    grid-template-columns: auto;
  }
}