@import "./swiper-bundle.css";

.swiper-part {
   width: 80%;
   height: 700px;
   background: #9C69E2;
   border-radius: 50px;
   margin: 0 auto;
}

.swiper-head {
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 130%;
   color: #fff;
   padding-top: 100px;
   padding-left: 8%;
   padding-bottom: 94px;
}

.swiper-slide {
   width: 400px;
   height: 200px;
   background-color: green;
}