header
  img(src='./assets/images/Logo.png' alt='Logo' style='width:50px; height:35px;')
  mixin link(href, name)
    a(href=href)=name
  ul.header-menu
    - var menu =["Help", "Features", "Sign up"]
    li
      a(class="checked" href="#") About
    each item in menu
      li
        +link("#", item)
      
  button.rqst-demo-btn.modal-btn Request Demo <img class = "pink-arrow" src="./assets/images/pink-arrow.png", alt="Arrow">
