.modal.hide
   .modal-wrapper
      .modal-content
         .modal-head
            .modal-head-img
               img(src="../assets/images/modal/slab.png", alt="Slab!")
            .modal-head-link
               a(class="modal-link" href="#") slabdsgn.com
         .modal-main
            .modal-main-img
               img(src="../assets/images/modal/ball.png", alt="Pink Ball")
            .modal-main-head
               h1 
                  |Thanks for downloading! :) <br/>
         .modal-text
            p
               |Kindly follow our team @SLAB Design Studio for more cool stuff! 
               |Ready to collaborate! Affordable and satisfaction guaranteed. 
               |Just shoot us an email at 
               a(class="email-link" href="#") info@slabdsgn.com