.storage-bank-wrapper 
   .storage-bank-img
      img(src="./assets/images/storage-bank.png" alt="Storage")
   .storage-bank-txt
      h1.storage-bank-txt-head We are a high-level data storage bank
      p.storage-bank-maintxt The place to store various data that you can access at any time through the internet  and where you can carry it. 
                              |This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. 