html
  head
    title Main
    link(rel="stylesheet", href="/css/main.min.css?cache_bust=123")
  body
    include templates/header.pug
    include templates/footer.pug
    script(src='/js/main.min.js?cache_bust=123')