html
  head
    title Main
    link(rel="stylesheet", href="./css/main.min.css?cache_bust=123")
    //- link(rel="stylesheet", href="./css/swiper-bundle.min.css")
  body
    include templates/header.pug
    include templates/save-data.pug
    include templates/storage-bank.pug
    include templates/features.pug
    include templates/swiper.pug
    include templates/footer.pug
    script(src='/js/main.min.js?cache_bust=123')